
/* General Layout Styles */


* {
	color: black;
	text-align: center;
    background-color: lightgray;

}

body {
	overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
}

li {
    display: block;


    font-family: times new roman;

    font-size: 18pt;
    vertical-align: left;
    width: 25%;
    height: 100%;
    padding:;
    padding-left: 17%;
    
}

ul {

}

a{
    color: blue;
    text-decoration: none;
    font-style: italic;
}

/* mouse over link */
a:hover {
    color: red;
    font-style: bold;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 50pt;
    float: left;
    background-color: red;
    padding-right: 25px;
    padding-left: 14px;
    text-align: left;
}

img {
    margin-right: -28%;

    
}

article {
   padding-top: 24px;
   font-size: 25pt;
   font-family: times new roman;

}

figcaption{
    font-size: 15pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -26%;
}

hr {
    width: 10%;
    margin-left: 28.5%;

}



/* iD */



#content {
	
}
			
#nav, #feature, #footer {
	
}

#nav, #footer {
    
}
            
#feature, .article {
    height: 20em;
    margin-bottom: 1em;
}

#hi {
    margin-right: -35%;
    width: 47%;
    margin-top: -5;
    margin-bottom: -10px;
    color: red;
    background-color: red;
    border-width: 0;
    height: 2px;

}

#hi1 {
    margin-left: 0%
    width: 500px;
    margin-top: -5;
    margin-bottom: -10px;
}

    
#up1 {
    padding-top: -20%;
    /*transform: translate(0%, -10%); */
}

#up2 {
    transform: translate(0%, -10%);
}

#left1 {
    transform: translate(0%, -5%);
}


/* Class */



.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
}
			
.column3 {
	margin-right: 0%;
}	

.header {
    width: 25%;
    position: fixed;
  }

.content {
  width: 25%;
  position: fixed;

 } 		

.sticky {
  position: fixed;
  padding-bottom: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  
}

.sticky + .content {
  
  width: 25%;
  
}



/*TRans-STYLES*/



#translate {
    width: 100%;
    transform: translate(25%, -25%);   
}

#translate2 {
    width: 175px;
    height: 75px;
    margin: 75px 50px;
    background-color: yellow;
    border: 1px solid black;
    transform: translate(50px, 10px);
}

#rotate {
    width: 100px;
    height: 100px;
    margin: 100px 150px;
    background-color: lightblue;
    border: 2px solid black;
    transform: rotate(30deg);
}

#scale {
    margin: 100px 100px;
    width: 200px;
    height: 100px;
    background-color: black;
    border: 1px solid black;
    transform: scale(1, 2);
}

#skew {
    width: 175px;
    height: 75px;
    margin: 75px 50px;
    background-color: yellow;
    border: 1px solid black;
    transform: skewX(20deg);
  }

#matrix {
    width: 300px;
    height: 100px;
    margin: 75px 50px;
    background-color: yellow;
    border: 1px solid black;
    transform: matrix(0, .5, 1, .5, 20, 50);

}

#flatPerspective {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 50px 120px;
    padding: 10px;
    border: 1px solid black;
    perspective: 150px;
   
}

#perspective {
    padding: 75px;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    transform: rotateX(20deg);
}




